@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    
}

:root{
    --cor1: hsl(192, 62%, 25%);
    --cor2: #004f6d;
    font1: 'Poppins', sans-serif;
}

.container{
    display: flex;
    height: 100vh;
    max-width: 100%;
}

.menu{
    width: 250px;
    background-color: var(--cor1);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
       
    
}

.menu h1{
    color: white;
    font-size: 2rem;
    margin-bottom: 60px;
    margin-top: 20px; 
    text-align: center;
    
}

.menu ul{
    list-style: none;

}

.menu a{
    color: white;
    text-decoration: none;
}

.menu ul li{
    font-size: 1.7rem;
    margin-bottom: 30px;
    text-transform: capitalize;
}

